@model SpiceProject.Models.ViewModels.MenuItemViewModel
@using SpiceProject.Extensions
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Edit MenuItem</h2>
<br />



<form method="post" enctype="multipart/form-data">
    @* entype is NEEDED when passing images*@
    <div class="border backgroundWhite row">
        <input type="hidden" asp-for="MenuItem.Id" />   @*we need this for the post *@

        @*Model only just gives validation for the model field thats required on the client side*@
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="col-8">

            <div class="form-group row">
                <div class="col-4">
                    @*asp-for on the label gives the name for the model field, name is called name, when passed to the input it gives the value for the name field*@
                    @*we added a display property ontop of name that changes the name field to output "Category name"*@
                    <label asp-for="MenuItem.Name" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MenuItem.Name" class="form-control" />
                </div>
                <span asp-validation-for="MenuItem.Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Description" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    @Html.TextAreaFor(m => m.MenuItem.Description)

                </div>
                <span asp-validation-for="MenuItem.Description" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Price" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MenuItem.Price" class="form-control" />
                </div>
                <span asp-validation-for="MenuItem.Price" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Image" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="files" multiple class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.CategoryId" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="@Model.MenuItem.CategoryId" id="CategoryId" asp-items="Model.Category.ToSelectListItem(Model.MenuItem.CategoryId)" class="form-control"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.SubCategoryId" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="@Model.MenuItem.SubCategoryId" name="SubCategoryId" id="SubCategoryId" asp-items="@(new SelectList(string.Empty, "Id", "Name"))" class="form-control"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.SpiceLevel" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="MenuItem.SpiceLevel" asp-items="Html.GetEnumSelectList<MenuItem.ESpicy>()" class="form-control"></select>
                </div>
            </div>
        </div>
        <div class="col-3 offset-1">
            <img src="@Model.MenuItem.Image" width="100%" style="border-radius:5px;border: 1px solid #bbb9b9;" /> 
        </div>

        <div class="col-8">
            <div class="col-8 offset-4">
                <partial name="_EditAndBackToListButton" model="Model.MenuItem.Id" />
            </div>
        </div>


        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_CreateAndBackToListButton" />
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            menubar: 'file edit format'
        });
    </script>

    <script type="text/javascript">
    $(document).ready(function () {
        getSubCategory();
        $('#CategoryId').change(function () {   // id we gave in the select element above
            getSubCategory();
        })
    })

    function getSubCategory() { // this is calling the getSubCatgorycontroller action called getSubCatergory
        var url = '@Url.Content("~/")' + "Admin/SubCategory/GetSubCategory";
        var ddlSource = '#CategoryId';
        $.getJSON(url, { id: $(ddlSource).val() }, function (data) {
            var items = '';
            $('#SubCategoryId').empty();
            $.each(data, function (i, subCategory) {
                items += "<option value='" + subCategory.value + "'>" + subCategory.text + "</option>";  // note how the single quotes are being used
            });

            $('#SubCategoryId').html(items);
        })
    }

    // we should use renderpartialasync below when we use json
    </script>

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
